
* {
    margin: 0;
    padding: 0;
  
}

body {
    background-color: rgba(243, 236, 243, 0.897);
}

.header {
  align-items: center;
  background-color: rgb(50, 167, 145);
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}

.trybewarts-login {
  display: flex;
  /* flex-direction: row-reverse; */
}

#trybewarts-header-title {
  color: white;
}

.login-value,
.pass-value {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  height: 15px;
  margin: 15px;
  padding: 10px;
  text-align: center;
  width: 90px;
}

#button-logar {
    background-color: rgb(192, 13, 52);
    color: rgb(255, 255, 255);
    width: 90px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    border: none;
}

input {
    background-color: rgb(255, 253, 253);
    color: rgb(0, 0, 0);
    width: 90px;
    height: 15px;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    border: none;
}

main {
    display: flex;
    width: 675px;
}

main {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

