body {
    background-color: rgba(243, 236, 243, 0.897);
}
.header {
    background-color: rgb(50, 167,145);
    display:flex;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.trybewarts-login {
    display:flex ;
    flex-direction:row-reverse;
}
#trybewarts-header-title {
    color: white;
}
#button-logar {
    background-color: rgb(192, 13, 52);
    color: rgb(255, 255, 255);
    width: 80px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    border: none;
}
input {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 90px;
    height: 15px;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    border: none;
}
#evaluation-form {
    display: flex;
    width: 675px;
    flex-direction: column;
}
main {
    display: flex;
    width: 675px;
}